body{
    margin: 0;
    padding: 0;
    background-color: #c1c1c1;
    font-family: sans-serif;
}

.main {
    display: grid;
    place-items: center;
    padding: 32px;
}

.clock{
    border-radius: 100%;
    background-color: #ffffff;
    border: 5px solid #e4e4e4;
}

.wrap{
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

.minute,
.hour,
.second{
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top center;
    background-color: black;
    z-index: 1;
}

.hour{
    height: 100px;
    width: 6px;
}

.minute{
    height: 130px;
    width: 4px;
}

.second{
    height: 90px;
    width: 2px;
}