body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    display: flex;
    width: 100%;
    height: 100%;
}

.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
    background-size: cover;
}

@keyframes scroll{
    0% { background-position-x: 0px;}
    100% { background-position-x: -1600px;}
}

.layer-10{
    background-image: url(../../shared_images/Parallax_Forest_Background_Blue/10_Sky.png) repeat-x;
    animation: scroll 145s infinite linear;
}
.layer-9{
    background-image: url(../../shared_images/Parallax_Forest_Background_Blue/09_Forest.png);
    animation: scroll 145s infinite linear;
}
.layer-8{
    background-image: url(../../shared_images/Parallax_Forest_Background_Blue/08_Forest.png);
    animation: scroll 145s infinite linear;
}
.layer-7{
    background-image: url(../../shared_images/Parallax_Forest_Background_Blue/07_Forest.png);
    animation: scroll 97s infinite linear;
}
.layer-6{
    background-image: url(../../shared_images/Parallax_Forest_Background_Blue/06_Forest.png);
    animation: scroll 97s infinite linear;
}
.layer-5{
    background-image: url(../../shared_images/Parallax_Forest_Background_Blue/05_Particles.png);
    animation: scroll 48s infinite linear;
}
.layer-4{
    background-image: url(../../shared_images/Parallax_Forest_Background_Blue/04_Forest.png);
    animation: scroll 48s infinite linear;
}
.layer-3{
    background-image: url(../../shared_images/Parallax_Forest_Background_Blue/03_Particles.png);
    animation: scroll 20s infinite linear;
}
.layer-2{
    background-image: url(../../shared_images/Parallax_Forest_Background_Blue/02_Bushes.png);
    animation: scroll 20s infinite linear;
}
.layer-1{
    background-image: url(../../shared_images/Parallax_Forest_Background_Blue/01_Mist.png);
    animation: scroll 20s infinite linear;
}
