body{
    margin: 0;
    padding: 0;
    background-color: #282828;
}
.main {
    display: flex;
    padding: 16px;
}
.toolbar {
    display: flex;
    flex-flow: column;
    max-width: 100px;
    justify-content: center;
    padding-right: 16px;
}

.canvas-preview{
    margin-top: 16px;
    margin-bottom: 16px;
    background: repeating-linear-gradient(
        -45deg,
        #454545,
        #454545 6px,
        #323232 6px,
        #323232 12px
        );
}
.btn{
    padding: 4px;
}
.toolbar .btn{
    margin-bottom: 4px;
}