#estreno{
    position: relative;
    display: flex;
    flex-flow: row;
    
    justify-content: center;
    align-items: center;

    padding: 32px 128px 16px 128px;

    overflow: hidden;
 
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    border-radius: 50px;
    border: 5px dotted rgb(255, 255, 255);
    background-color: rgb(250, 220, 85);
    transform: skew(-4deg) rotate(-4deg) translateX(-500px);
    transition: transform 0.3s ease;
    width: 50%;
}

#estreno > img {
    width: 10%;
    padding: 32px;
}

#countdown{
    margin: 0;
    font-size: 30px;
    max-width: 400px;
    font-weight: normal;
    color:  rgb(17, 62, 147);
    padding: 16px;
}