
#eventos{
    display: flex;
    flex-flow: column;
    padding: 16px 128px;
}

#eventos > h1{
    padding-bottom: 16px;
}

.acordeon{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#eventos > h1{
    text-align: center;
}

.acord-title{
    display: grid;
    grid-template-columns: 11fr 1fr;

    background-color: whitesmoke;
    cursor: pointer;
    padding: 16px 32px;
    transition: 0.4s;
    overflow: hidden;
}

.acord-title.active{
    background-color: rgb(255, 242, 183);
}

.acord-title > h2 {
    color: rgb(17, 62, 147);
    font-size: 20px;
    font-weight: normal;
    /* transform: translateX(0%); */
    /* transition: transform 0.4s ease; */
}

.acord-title:hover{
    background-color: rgb(247, 230, 158);
}


.acord-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    align-items: center;
    
    transform-style: preserve-3d;
    perspective: 500px;
    perspective-origin: 75%;
}


.acord-content img {
    max-width: 100%;
    
    transform: translateZ(-6em);
    transition: transform 0.3s ease;
}

.acord-content img:hover {
    transform: translateZ(0em);
    transition: transform 0.3s ease;
}

.acc_icon {
    display: flex;
    justify-content: center;
    width: 100%;
}

.acc_icon > svg{
    color: rgb(17, 62, 147);
    width: 40%;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.acord-title.active svg {
    transform: rotate(-180deg);
    transition: transform 0.3s ease;
    
}

.evt_info {
    padding: 32px;
}

.evt_info > h3{
    margin: 0;
    padding-top: 16px;
}