
#eventos{
    display: flex;
    flex-flow: column;
    padding: 16px 128px;
}

.acordeon{
    border-radius: 20px;
    overflow: hidden;
}

#eventos > h1{
    text-align: center;
}

.acord-title{
    display: grid;
    grid-template-columns: 11fr 1fr;

    background-color: whitesmoke;
    cursor: pointer;
    padding: 16px;
    transition: 0.4s;
    overflow: hidden;
}

.acord-title > h2 {
    color: rgb(17, 62, 147);
    font-size: 20px;
    transform: translateX(0%);
    transition: transform 0.4s ease;
}

.acord-title.active {
    
}

.acord-title.active > h2{
    transform: translateX(75%);
    transition: transform 0.4s ease;
}

.acord-title:hover{
    background-color: rgb(247, 230, 158);
}


.acord-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 0px 8px 8px 8px; */
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.acord-content > img {
    max-width: 100%;
    padding: 16px;
}

.acord-content > p {
    padding: 16px;
}