
.header_hero {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

#header_background {
    width: 100%;
    filter: blur(2px) brightness(1.1);
    background: url(../images/paris-backgorund.jpg) right top / 135%;
}

#header_remy {
    position: absolute;
    top: -37%;
    right: 29%;
    width: 50%;
    z-index: 1;

}

#header_linguini {
    position: absolute;
    left: 12%;
    bottom: -35%;
    transition: bottom 0.1s ease;
    width: 30%;
}

#header_colette {
    position: absolute;
    bottom: -35%;
    right: 14%;
    transition: bottom 0.1s ease;
    width: 15%;
}


#header_logo {
    position: absolute;
    bottom: 3%;
    z-index: 1;
    width: 15%;
}
