
.light {
    position: absolute;
    top: 0; left: 0;

    border-radius: 50%;
    
    mix-blend-mode: luminosity;

    filter: blur(2px);

}

@keyframes light{
    from {
        opacity: 10%;
    }
    to {
        opacity: 100%;
    }
}

#light_1{
    transform: translateX(93px) translateY(54px);
    
    width: 4px;
    height: 4px;
    
    background-color: white;

    animation: light 1s linear infinite alternate-reverse;
}

#light_2{
    transform: translateX(100px) translateY(351px);

    width: 10px;
    height: 10px;

    background-color: rgb(255, 246, 121);

    animation: light 1s linear infinite alternate-reverse 0.5s;
}

#light_3{
    transform: translateX(105px) translateY(351px);
    
    width: 9px;
    height: 9px;
    
    background-color: rgb(255, 246, 121);
    
    animation: light 1.5s linear infinite alternate-reverse 0.7s;
}

#light_4{
    transform: translateX(113px) translateY(351px);
    
    
    width: 10px;
    height: 10px;
    
    background-color: rgb(255, 246, 121);
    
    animation: light 2s linear infinite alternate-reverse 0.3s;
}

#light_5{
    transform: translateX(82px) translateY(351px);
    
    width: 9px;
    height: 9px;
    
    background-color: rgb(255, 246, 121);
    
    animation: light 1s linear infinite alternate-reverse 0.5s;
}

#light_6{
    transform: translateX(89px) translateY(308px);
    
    width: 6px;
    height: 6px;
    
    background-color: rgb(255, 246, 121);
    
    animation: light 1.5s linear infinite alternate-reverse 0.7s;
}

#light_7{
    transform: translateX(78px) translateY(148px);

    width: 7px;
    height: 7px;
    
    background-color: rgb(255, 246, 121);
    
    animation: light 2s linear infinite alternate-reverse 0.1s;
}

#light_8{
    transform: translateX(99px) translateY(86px);

    width: 7px;
    height: 7px;
    
    background-color: rgb(255, 255, 255);
    
    animation: light 1.5s linear infinite alternate-reverse 0.3s;
}

#light_9{
    transform: translateX(179px) translateY(493px);

    width: 12px;
    height: 12px;
    
    background-color:  rgb(255, 246, 121);
    
    animation: light 1.5s linear infinite alternate-reverse 0.3s;
}

#light_10{
    transform: translateX(70px) translateY(493px);

    width: 10px;
    height: 10px;
    
    background-color:  rgb(255, 246, 121);
    
    animation: light 1.5s linear infinite alternate-reverse 0.3s;
}

#light_11{
    transform: translateX(205px) translateY(580px);

    width: 5px;
    height: 5px;
    
    background-color:  rgb(255, 246, 121);
    
    animation: light 1.5s linear infinite alternate-reverse 0.3s;
}

#light_12{
    transform: translateX(75px) translateY(642px);

    width: 10px;
    height: 10px;
    
    background-color:  rgb(255, 246, 121);
    
    animation: light 2s linear infinite alternate-reverse 0.3s;
}