.menu {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 2;
}

#menu-button {
    color: rgb(255, 255, 255);
    /* color: rgb(222, 200, 76); */
    background-color: rgb(17, 62, 147);
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 20px;
    /* font-weight: bold; */
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 30px;
    padding: 16px 32px;
    margin: 0px;
    text-decoration: none;
    text-align: center;
}

#menu-container{
    position: absolute;
    left: -69vw;
    top: 0vh;
    width: 67vw;
    height: 88vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* background-color: wheat; */

    /* overflow: hidden; */

    /* border: 10px solid #ffffff;
    box-shadow:inset 0px 0px 0px 10px rgb(17, 62, 147); */

    border-radius: 30px;

    /* visibility: hidden; */
}

#menu-items{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    opacity: 0;
    transition: opacity 0.3s ease-in 0.3s;
}

.menu_items_active{
    opacity: 100% !important;
    transition: opacity 0.3s ease-out 0s;
}

.menu-item{
    font-family: sans-serif;
    font-weight: bold;

    color: rgb(17, 62, 147);
    font-size: 33px;
    padding: 16px;

    z-index: 2;
}

#menu-mantel{
    position: absolute;
    width: 1000px;
    height: 500px;
    background: url(../images/mantel-rojo.jpg);
    filter: drop-shadow(-10px 10px 20px rgb(74, 61, 70));
    
    transform: translateY(-900px) rotate(-30deg);
    transition: transform 0.3s ease-in 0s;
}

.mantel_active{
    transform: translateY(0px) rotate(-2deg) !important;
    transition: transform 0.3s ease-out 1s;
}

#menu-fork{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 200px;
    height: 600px;
    
    background: url(../images/fork.png) no-repeat;
    background-size: contain;
    filter: drop-shadow(5px 5px 3px rgb(98, 99, 80));
    
    transform: scaleX(-1) translateY(-500px) rotate(90deg);
    transition: transform 0.3s ease-in 0.1s;
}

.fork_active{
    transform: scaleX(-1) translateY(0px) rotate(-5deg) !important;
    transition: transform 0.3s ease-out 0.1s;
}


#menu-knife{
    position: absolute;
    top: 150px;
    right: 50px;
    width: 200px;
    height: 600px;

    background: url(../images/knife.png) no-repeat;
    background-size: contain;
    
    filter: drop-shadow(5px 5px 3px rgb(98, 99, 80));
 
    transform: scaleX(-1) translateY(-900px) rotate(-30deg);
    transition: transform 0.3s ease-in 0.1s;
}

.knife_active{
    transform: scaleX(-1) translateY(0px) rotate(18deg) !important;
    transition: transform 0.3s ease-out 0.1s;

}

#menu-plate{
    position: absolute;
    width: 750px;
    height: 750px;

    background: url(../images/plate.png) no-repeat;
    background-size: 100%;
    filter: drop-shadow(15px -10px 10px rgb(99, 93, 91));
    
    transform: translateY(-800px) rotate(150deg);
    transition: transform 0.3s ease-in 0.1s;
}

.plate_active{
    transform: translateY(0px) rotate(150deg) !important;
    transition: transform 0.3s ease-out 0.6s;
}