.menu {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 2;
}

#menu-button {
    color: rgb(255, 255, 255);
    /* color: rgb(222, 200, 76); */
    background-color: rgb(38, 80, 158);
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    font-family: serif;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 30px;
    padding: 16px 32px;
    margin: 0px;
    text-decoration: none;
    text-align: center;
}

.menu-active{
    position: absolute;
    left: -68vw;
    top: 0vh;
    width: 67vw;
    height: 80vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #ffffff;

    overflow: hidden;

    border-radius: 30px;
}

.menu-item{
    font-family: sans-serif;
    color: rgb(17, 62, 147);;
    font-size: 33px;
    padding: 16px;
}

#menu-mantel{
    position: absolute;
    top: -120px;
    right: -160px;
    transform: rotate(-25deg);
    width: 500px;
    height: 700px;
    background: url(images/mantel-rojo.jpg);
}